<!--<h1>Books#edit</h1>-->
<!--<p>Find me in app/views/books/edit.html.erb</p>-->
        <p id="notice"></p>
        <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>

<%= form_with model:@user, local:true do |user| %>

  <div class="field">
    <%= user.label :name %><br>
    <%= user.text_field :name %>
  </div>

  <div class="field">
    <%= user.file_field :profile_image, placeholder: "Image", accept: "image/*" %>
  </div>

  <div class="field">
    <%= user.label :introduction %><br>
    <%= user.text_area :introduction %>
  </div>

  <div class="field">
    <%= user.submit"Update User", class:"btn btn-secondary" %>
  </div>

<% end %>