<!--<h1>Books#edit</h1>-->
<!--<p>Find me in app/views/books/edit.html.erb</p>-->

<%= form_with model:@user, local:true do |user| %>

  <div class="field">
    <%= user.label :name %><br>
    <%= user.text_field :name %>
  </div>

  <div class="field">
    <%= user.file_field :profile_image, accept: "image/*" %>
  </div>

  <div class="field">
    <%= user.label :introduction %><br>
    <%= user.text_area :introduction %>
  </div>

  <div class="field">
    <%= user.submit %>
  </div>

<% end %>